:root {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding: 40px;
}

.board {
	display: flex;
	width: calc(35px * 3);
	flex-wrap: wrap;
}

.square {
	width: 35px;
	height: 35px;
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	transition: ease background-color 0.3s;
}

.square:hover {
	background-color: rgb(225, 225, 225);
}
